body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('/assets/blood.gif') center center / cover no-repeat;
  font-family: 'Josefin Slab', serif;
}

.lose-message {
  font-weight: bold;
  text-align: center;
  text-shadow:
    2px 2px 0 #222,
    0 0 8px #222,
    0 0 36px #B94A48;
  letter-spacing: 2px;
  line-height: 1.1;
}

.lose-message p {
  color: #b87876;
  font-size: 8rem;
  margin: 0;
}

.lose-message span {
  color: #B94A48;
  font-size: 2.5rem;
  margin: 0;
}

.button-restart {
  margin-top: 80px;
}

#startButton {
  color: #B94A48;
  text-shadow:
    2px 2px 0 #222,
    0 0 8px #222,
    0 0 36px #B94A48;
  cursor: pointer;
  text-decoration: none;
  font-size: 4rem;
}


 
  