body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;         
  align-items: center;
  justify-content: center;
  background: url('/assets/end.gif') center center / cover no-repeat;
}

.winner-message {
  font-weight: bold;
  text-align: center;
  text-shadow:
    2px 2px 0 #222,
    0 0 8px #222,
    0 0 36px #39D52A;
  letter-spacing: 2px;
  line-height: 1.1;
}

.winner-message p {
  color: #39D52A;
  font-size: 9rem;
  margin: 0;
}

.winner-message span {
  color: #51a849;
  font-size: 1.5rem;
  margin: 0;
}

.button-restart {
  margin-top: 80px;
}

#retryWinButton {
  color: #39D52A;
  text-shadow:
    2px 2px 0 #222,
    0 0 8px #222,
    0 0 36px #39D52A;
  cursor: pointer;
  text-decoration: none;
  font-size: 4rem;
}